* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: goldenrod;
}

footer h4 {
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
}

nav {
  background-color: coral;
}

nav .container {
  width: 90%;
  margin: 0 auto;
}

nav .container ul {
  display: flex;
  text-align: center;
}

nav .container ul li {
  padding: 20px 10px;
}

nav .container ul li:hover {
  background-color: crimson;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  cursor: pointer;
  width: 25%;
  padding: 10px;
}

.card img {
  max-width: 100%;
}

.card:hover {
  transform: scale(1.1);
}

h2 {
  padding: 10px;
}

