
.container {
    width: 90%;
    margin: 0 auto;
}

.cards {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start
}

.card {
    img{height: 300px;}
    display: inline;
    width: calc(100% / 4);
}